<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    
    <!-- ------------------------------ bootstrap ------------------------------ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
    <!-- ------------------------------ My style ------------------------------- -->
    <link rel="stylesheet" href="css/style.css">

    <!-- ----------------------------- fontawesome ----------------------------- -->
    <script src="https://kit.fontawesome.com/e2fdc6941e.js" crossorigin="anonymous"></script>

    <!-- -------------------------------- luxon -------------------------------- -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>

    <!-- --------------------------------- vue --------------------------------- -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body   class="my_bg">
    <div id="app" >

        <div id="accent-nav">
        </div>
        
        <!-- ------------------------------- pop-up -------------------------------- -->
        <!-- <div id="pop-up"
        :class="popUp == false ? 'd-none' : 'd-flex'"
        class=""
        >
            <div class="pop-request text-center">
                <h1>Felice di rivederti!</h1>
                <p>Con chi vuoi chattare oggi?</p>
                <ul class="list-group list-group-flush ">
                    <li 
                    @click="selectChat(index)"
                    v-for="(contact,index) in contacts" 
                    class="list-group-item bg-transparent"                    
                    >
                        {{contact.name}}
                        
                    </li>
                    
                </ul>
    
            </div>
    
        </div> -->
    
        <div class="card position-absolute z-3 " style="width: 500px;"
        v-show="popUpNewContact==true">
            <h5 class="card-header">Crea nuovo contatto</h5>
            <div class="card-body">
              <h6 class="card-title">Inserisci nome</h6>
              <input v-model="newName" type="text" class="form-control mb-3" placeholder="Nome" aria-label="Username" aria-describedby="basic-addon1">
              <h6 class="card-title">Scegli l'avatar</h6>

              <div class="mb-3">
                <img 
                @click="chooseAvatar(index)" 
                v-for="(x,index) in arrayUrlAvatar"
                :src="arrayUrlAvatar[index]" class="img-thumbnail w-25" alt="">
              </div>
              <a @click="addContact()" href="#" class="btn btn-primary">Aggiungi</a>
            </div>
        </div>

        <div 
        :class="darkMode==true?'dark':''"
        class="container vh-100 py-5 overflow-hidden my_wrapper position-relative" 
        >
    
            
            <div class="row bg-white overflow-hidden mx-1" >
    
    
                <!-- ----------------------------------------------------------------------- -->
                <!--                                  Aside                                  -->
                <!-- ----------------------------------------------------------------------- -->
                <div id="aside" class="col-12 col-md-6 col-xl-4 my_height p-0">
    
                    <!-- header -->
                    <div class="row justify-content-between py-2 my_bg_primary align-items-center m-0">
                        <div class="col-auto">
                            <div class="row justify-content-start align-items-center ">
                                <div class="col-auto">
                                    <img src="img/avatar_1.jpg"  alt="">
    
                                </div>
                                <div class="col-auto">
                                    <div>Alberto</div>
    
                                </div>
                            </div>
                        </div>
                        <div class="col-auto d-flex gap-3 my_color_primary me-2 fs-5 align-items-center ">
                            <div id="dark-mode">
                                <div
                                class="button-dark text-center "
                                :class="darkMode==true ? 'animation': 'animation-reverse'"
                                @click="activateDark()"
                                >
                                    <i class="fa-solid fa-moon"></i>        

                                </div>
                            </div>
                                                        
                            <i class="fa-solid fa-circle-notch"
                            @click="addingContact()"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                            
                        </div>
                    </div>
    
                    <!-- blu section -->
                    <div id="activate" class="row py-3 my_bg_secondary align-items-center ">
                        <div class="col-3 text-center m-auto">
                            
                            <i class="fa-solid fa-bell-slash fs-4 p-4 bg-white rounded-circle "></i>
                            
                        </div>
                        <div class="col-9 p-0">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a href="">Attiva notifiche desktop</a>
    
                        </div>
    
                    </div>
    
                    <!-- input -->
                    <div class="row p-2 my_bg_primary">
                        <div class="input-group">
                            <span class="input-group-text search_width" id="basic-addon1"><i class="fa-solid fa-magnifying-glass m-auto my_color_primary"></i></span>
                            <input v-model="inputSearch" @keyup="search(inputSearch)" type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
    
                    <!-- contact list -->
                    <div id="chats" class="d-flex flex-column overflow-auto h-100 px-2">
                        <div 
                        v-for="(contact,index) in contacts" 
                        v-show="elementsFound.includes(index) || elementsFound == '' && notFound == false"                     
                        class="row py-2 border border-top-0"
                        :class="index == chatIndex? 'active': ''"
                        @click="selectChat(index)"                    
                        >
                            <!-- immagine avatar -->
                            <div class="col-auto">
                                <img :src="contact.avatar"  alt="">
    
                            </div>
    
                            <!-- contact info -->
                            <div class="col-7 flex-grow-1">
                                <div class="row position-relative ">
                                    <div>{{contact.name}}</div>
                                    <div
                                    class="my_small_text"
                                    v-for="(message,index) in contact.messages"                                     >
                                        
                                        <span v-if="index == contact.messages.length -1">
                                            {{message.message}} 
                                                                                  
                                        </span>                                       
                                        
                                        <!-- last message time -->
                                        <div 
                                        v-if="index == contact.messages.length-1" 
                                        class="my_small_text position-absolute top-0 end-0 pe-3">
                                            {{message.date}}
                                        </div>
                                    </div>
                                </div>
    
                                
                            </div>
    
                            
                            
    
                        </div>
                        
                       
                    </div>
    
                    
                </div>
    
                <!-- ----------------------------------------------------------------------- -->
                <!--                                Main Chat                                -->
                <!-- ----------------------------------------------------------------------- -->
                <div class="d-none d-md-block col-md-6 col-xl-8 p-0">
                    <div class="my_height"
                    id="main" 
                    v-for="(contact,index) in contacts" 
                    v-show="index==chatIndex"          
                    >
                        <div class="d-flex flex-column my_height ">
    
                            <!-- header -->
                            <div class="row justify-content-between align-items-center p-2 my_bg_primary">
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-auto">
                                            <img :src="contact.avatar"  alt="">
                                        </div>
                                        <div class="col-auto">
                                            <div class="row">
                                                <span class="info-name">{{contact.name}}</span>
                                                <span 
                                                v-if="writing==true"
                                                class="my_small_text"
                                                >
                                                    {{text}}
                                                </span>

                                                <span 
                                                v-else
                                                v-for="(message,index) in contact.messages" 
                                                v-show="index == contact.messages.length -1"                                              
                                                class="my_small_text"
                                                >
                                                    Ultimo accesso alle 
                                                    <span>{{message.date}}</span>
                                                    
                                                </span>
                
                                            </div>
                
                                        </div>
                
                                    </div>                        
                                </div>
                
                                <div class="col-auto d-flex gap-4 my_color_primary me-2 fs-5">
                                    
                                    <div>
                                        <i class="fa-solid fa-magnifying-glass my_color_primary"></i>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-paperclip"></i>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="bg-transparent  border-0" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                            
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><button class="dropdown-item" @click="deleteMessages(index)"> Elimina tutti i messaggi</button></li>
                                            <li><button class="dropdown-item" @click="deleteChat(index)" >Elimina la chat</button></li>
                                        </ul>
                                    </div>
                
                                </div>
                            </div>
                
                            <!-- chat -->
                            <div id="main-chat"
                            class="d-flex flex-grow-1 overflow-auto flex-column p-5"                 
                            >
                                <div                                
                                v-for="(message,index2) in contact.messages"               
                                :class="message.status=='sent'? 'sent' : 'received'"
                                class="col-12 p-3 mb-3 rounded-3 position-relative "
                                >
                                    {{message.message}}
                                    
                                    <div class="dropdown position-absolute top-0 end-0 ">
                                        <button class="btn bg-transparent rounded-circle border border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                          <li><a class="dropdown-item" >Info messaggio</a></li>
                                          <li><a class="dropdown-item" @click="deleteMessage(index,index2)">Elimina il messaggio</a></li>
                                          
                                        </ul>
                                    </div>
    
                                    <div class="my_time">
                                        {{message.date}}
                                    </div>
                                    
                                    
    
                                </div>
                
                            </div>
                
                
                            <!-- input  -->
                            <div class="row my_bg_primary m-0 p-3 align-items-center ">
                                <div class="col-auto">
                                    <i class="fa-regular fa-face-smile fs-4"></i>
                                </div>
                                <div class="col-auto flex-grow-1 ">
                                    <div class="input-group flex-nowrap">
                                        <input
                                        v-model="messageToSend"
                                        type="text"
                                        class="form-control"
                                        placeholder="Scrivi un messaggio"
                                        @keyup.enter="sendMessage(messageToSend)"
                                        >
                                    </div>
                
                                </div>
                                <div class="col-auto">
                                    <i 
                                    v-if="messageToSend==''"
                                    class="fa-solid fa-microphone fs-4"></i>
                                    <i v-else 
                                    @click="sendMessage(messageToSend)"
                                    class="fa-solid fa-paper-plane fs-4"></i>
                                    
                                </div>
                            </div>
    
                        </div>
                    
                    
                    </div>
    
                </div>
                
    
            </div>
    
        </div>
    </div>

    


    <!-- --------------------------------- JS ---------------------------------- -->
    <script src="js/script.js"></script>

    <!-- ------------------------------ bootstrap ------------------------------ -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  </body>

</body>
</html>
